<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu6UiP6NICUSIwX46x9KCY0QhDwPpkGHw</string>
	<key>GCM_SENDER_ID</key>
	<string>273028113150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyAttend</string>
	<key>PROJECT_ID</key>
	<string>easyattend-bc902</string>
	<key>STORAGE_BUCKET</key>
	<string>easyattend-bc902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273028113150:ios:4511e3552844fdd2137baf</string>
</dict>
</plist>